*{
    box-sizing: border-box;  
  }
  html, body{
      margin: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../img/brick.jpg');
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; 
  }
  .cele{  /*hp bar & canvas*/
   position: relative;
  }
  .HP{  /*hp bar*/
      position: absolute;
      display: flex;
      width: 100%;
      align-items: center;
      padding: 20px;
  }
  .casovac{ /*čas*/
    background-color: black;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
  }
  #text{
    color: white;
    font-size: 40;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  canvas {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
  