body{
    background-image: url('../img/pozadi.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#menu{
    width: 100%;
    margin-top: 10%;
    border: 5px solid black;
}
a{
 background-attachment: fixed;
 color: white;
 text-decoration: none;  
 display: flex;
 position: fixed;
 font-size: 40px;
 width: fit-content;
 height: fit-content;
 padding-left: 185px; 
 padding-top: 140px;
}
